<div class="container">
  <div class="centreColumn">
    <heading >Event history for <a href="{{sonarrBaseUrl}}">{{instanceName}}</a></heading>
    <events class="single">
    <header>
      <count>Event {{plusOne event.index}}</count>
    </header>
    {{> event event useApplicationUrl=useApplicationUrl}}
    <footer><browse><a href="{{browseUrl event.id count ascending useApplicationUrl}}">Browse</a></browse></footer>
    </events>
  </div>
</div>