<div class="container">
  <div class="centreColumn">
    <header>
      <heading>Event history for <a href="{{sonarrBaseUrl}}">{{instanceName}}</a></heading>
      {{> user}}
    </header>
    <events class="single">
    <header>
      <count>Event {{event.id}} not found.</count>
    </header>
    </events>
  </div>
</div>
