<div class="container">
  <div class="centreColumn">
  <heading >Event {{eventId}} not found.</heading>
  <footer><browse><a href="{{browseUrl 0 count ascending useApplicationUrl}}">Browse</a></browse></footer>
  </div>
</div>