<div class="container">
  <div class="centreColumn">
  <heading >Event {{eventId}} not found. <a href="{{browseUrl undefined undefined undefined useApplicationUrl}}">Browse</a></heading>
  </div>
</div>