<div class="container">
  <div class="centreColumn config">
    <header>
      <heading>Login to {{config.feedTitle}}</heading>
    </header>
    <events>
      <event>
        <data>
          <detail>
            <release>
              <entry><span class="label">Username</span><input name="username" id="username" type="text" required autofocus></entry>
              <entry><span class="label">Password</span><input name="password" id="password" type="password" required></entry>
              <entry><button id="login" class="tip" onclick="login()">Login</button></entry>
              <entry id="errorMessageEntry" style="margin-top: 8px" class="tip collapse"><span id="errorMessage"></span></entry>
            </release>
          </detail>
        </data>
      </event>
    </events>
  </div>
</div>
