<episode class="noseries">Health</episode>
<release>
<entry><span class="label">Type</span>: {{event.type}}</entry>
<entry><span class="label">Level</span>: <span class="{{event.level}}">{{event.level}}</span></entry>
<entry><span class="label">Message</span>: {{event.message}}</entry>
</release>
