<episode class="noseries">Health Restored</episode>
<release>
<entry><span class="label">Type</span>: {{event.type}}</entry>
<entry><span class="label">Level</span>: <span class="{{event.level}}">{{event.level}}</span> - <span class="good">Fixed</span></entry>
<entry><span class="label">Message</span>: {{event.message}}</entry>
</release>
