<div class="record">
  <left>
    <series>{{entry.series.title}}</series>
    <img src="/banner/{{entry.series.id}}">
  </left>
  <data>
    <entry>
    {{#if (isSeriesAdded entry)}}
    <event>New series added</event>
    {{/if}}
    {{#if (isGrab entry)}}
    {{> grab this}}
    {{/if}}
    {{#if (isDownload entry)}}
    {{> download this}}
    {{/if}}
    </entry>
    <time>{{dateTime timestamp}}</time>
  </data>
</div>