<episode class="noseries">Series deleted - {{event.series.title}}</episode>
<release>
<entry><span class="label">Deleted Files</span>: {{ifEqual event.deletedFiles true 'Yes' 'No'}}</entry>
<entry><span class="label">NB</span>: Earlier entries for this series may have missing banners.</entry>
</release>
