<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sonarr Webhooks Configuration</title>
    <style>
    {{> css }}
    </style>
    <script>
    {{> config.js }}
    </script>
</head>
<body>

    {{{body}}}

</body>
</html>