<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sonarr Webhooks Login</title>
    <style>
    {{> css }}
    </style>
    <script>
    {{> login.js }}
    </script>
</head>
<body>

    {{{body}}}

</body>
</html>
